@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.App-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.App-header .App-logo {
    width: 160px;
    max-width: 30vh;
    padding-left: 30px;
}

h1 {
    margin-bottom: 0;
    color: #EF4848;
}

.App-body {
    flex: 1;
    padding: 20px;
    margin-left: 30px;
    min-height: 90vh;
}

.App-body input {
    margin: auto 12px;
}

.App-footer {
    text-align: center;
    padding: auto   ;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
}

.App-separator {
    width: 95%;
    height: 4px;
    background-color: #EF4848;
    margin: 0 auto;
}