.Notifications {
  border-style: dashed;
  margin: 1rem;
  padding: 1rem;
  border-color: #ED2939;
  display: flex;
}
li[data-priority="default"] {
  color: blue;
}
li[data-priority="urgent"] {
  color: red;
}